.flo {
    font-family: "Aljazeera";
    font-size: 50px;
    color: rgb(19, 57, 107);
    
}
.ss {
    font-family: "Aljazeera";
    font-size: 100px;
    text-align: center;
    color: royalblue;
}
.tdd {
    width: 1415px;
    height: 200px;
    border-color: coral;
}